# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv
env/
venv/

# # =====================
# # Alembic
# # =====================
# alembic.ini

# =====================
# Node / React
# =====================
node_modules/
dist/
build/
.vite/

# =====================
# Docker
# =====================
*.log

# =====================
# OS / Editor
# =====================
.DS_Store
Thumbs.db
.idea/
.vscode/
